@font-face {
  font-family: "pokemonText";
  src: url(./fonts/pokemon-ds-font.ttf) format("truetype");
}

.App {
  height: 100vh;
  width: 100vw;
  background-size: 80px 80px;
  background-image: linear-gradient(
      to right,
      rgb(168, 168, 168) 3px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(168, 168, 168) 3px, transparent 1px);
  font-family: pokemonText;
}
